*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 20px 10px 20px 10px;
    
}
section{
   background-color: gray;
}
.home{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
}
div > p{
  font-size: 25px;
}
 div > h1{
    font-size: 50px;
}
.slideshow-container{
    max-width: fit-content;
    position: relative;
    margin: auto;
    margin-left: 3%;
    margin-right: 3%;
}
.mySlides{
    display: none;

}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none; 
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
.numbertext{
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #717171;
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
/* About me */
.container-about{
    display: flex;

    justify-content: space-around;
    align-items: center;
    gap: 200px;
    /* gap: 320px; */

}
/* .paragraph-content{
     width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
   
    padding-bottom: 50px;
    font-size: 20px;
} */
.aboutme{
    width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 200px;
    font-size: 20px;
    margin-left: 5%;
   
}
.about{
    font-size: 75px;
    padding-bottom: 35%;
    padding-left: 10%;
    display: flex;
}

div img{
    width: 600px;
    height: 80%;
}

/* My hobbies */
.container-hobby{
    display: flex;
   
 }
.container-hobby1{
   display: flex;
   flex-direction: column;
   padding-top: 200px;
}
#content-hobby1{
    font-size: 60px;
    text-align: center;
    padding-right: 95px;
}
.container-hobby2{
    display: flex;
    flex-direction: column;
    padding-top: 70px;
 }
#content-hobby2{
    font-size: 20px;
}
 .container-hobby3{
    display: flex;
    flex-direction: column;
    padding-top: 70px;
 }
#content-hobby3{
    font-size: 20px;
}


.image1{
    width: 650px;
    
}
.image2{
    width: 350px;
    height: 300px;
}
.image3{
    width: 300px;
    height: 300px;
}
.hobby-container{
    display: flex;
}
.hobby-content1{
    display: flex;
    padding-top: 93px;
}
.hobby-content2{
    display: flex;
    flex-direction: column;
    padding-top: 93px;
}
.image4{
    width: 500px;
    height: 332px;
}
.image5{
    width: 500px;
}
#content-hobby4{
    font-size: 20px;
}
#content-hobby5{
    font-size: 20px;
}
#content-hobby6{
    font-size: 20px;
}

/* unknown */

/* .quote-container{
    display: flex;
} */
.quote-content1{
    display: flex;
    align-items: center;
}
.photo{
    width: 500px;
    height: 600px;
}
.qoute{
    padding-bottom: 395px;
    font-size: 50px;
}
.quote1{
    padding-top: 450px;
}

/* contact me */
.contact-container{
    display: flex;
    flex-direction: column;
    
}
.contact-content1{
    display: flex;
    
}
.contact-content3{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 350px;
    padding-top: 100px;
     
}
.contact{
    font-size: 100px;
    padding-top: 100px;
}
.photo1{
    width: 500px;
    height: 380px;
}
